.variant-card {
  border: 1px solid var(--neutral-color-gray);
  border-radius: 2px;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
}

.variant-card__title {
  border-bottom: 1px solid var(--neutral-color-gray);
  padding-bottom: .5em;
  margin-bottom: 1rem;
}

.food-variant-select {
  /* width: 8rem; */
  padding: .75rem .5rem;
  margin-bottom: 1rem;
}

.food-variant-select__group {
  display: flex;
  flex-direction: column;
}

.food-variant-select__label {
  margin-bottom: .5rem;
}

@media screen and (max-width: 1000px) {
  .variant-card {
    width: 100%;
    margin-bottom: var(--content-gap);
  }
}