* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0166A7;
  --accent-color-green: #0DB14B;
  --accent-color-red: #E51937; 
  --neutral-color-white: #fffefe;
  --neutral-color-black: #202020;
  --neutral-color-gray: #c6c6c6;

  --width-default: 90%;
  --max-width-default: 1200px;
  --smaller-max-width-default: 1080px;

  --page-min-height: 100vh;
  --content-gap: 2rem;

  --mobile-screen: 500px;

  font-family: 'Oswald', sans-serif;
}

body {
  background-color: var(--neutral-color-white);
  color: var(--neutral-color-black);
}

a {
  text-decoration: none;
  color: var(--neutral-color-black);
}

.content-wrapper {
  margin: 0 auto;
  width: var(--width-default);
  max-width: var(--smaller-max-width-default);
}

.content-wrapper--large {
  margin: 0 auto;
  width: var(--width-default);
  max-width: var(--max-width-default);
}

.text-center {
  text-align: center;
}

main {
  min-height: var(--page-min-height)
}